# Module 01: SELECT, FROM, WHERE - The Foundation of SQL Queries

**Estimated Time:** 45 minutes

## Learning Objectives

By the end of this module, you will be able to:
- Select specific columns from tables
- Use column aliases for better readability
- Filter rows using WHERE clause
- Use comparison operators (=, !=, <, >, <=, >=)
- Combine conditions with AND, OR, NOT
- Work with NULL values
- Use pattern matching with LIKE
- Understand operator precedence

In [ ]:
# Setup
import sqlite3
import pandas as pd
from pathlib import Path

%load_ext sql

# Connect to database
DB_PATH = Path.cwd().parent / "data" / "databases" / "ecommerce.db"
conn = sqlite3.connect(DB_PATH)
%sql sqlite:///$DB_PATH

print("✓ Connected to ecommerce.db")

## 1. SELECT: Choosing Columns

The SELECT statement is the most fundamental SQL command. It allows you to retrieve data from tables.

### Basic Syntax
```sql
SELECT column1, column2, ...
FROM table_name;
```

In [ ]:
# Select all columns (*)
%%sql
SELECT * 
FROM products 
LIMIT 5

In [ ]:
# Select specific columns
%%sql
SELECT product_name, price, stock_quantity
FROM products
LIMIT 5

In [ ]:
# Column aliases with AS
%%sql
SELECT 
    product_name AS "Product Name",
    price AS "Price ($)",
    stock_quantity AS "In Stock"
FROM products
LIMIT 5

In [ ]:
# Calculated columns
%%sql
SELECT 
    product_name,
    price,
    price * 0.1 AS tax_amount,
    price * 1.1 AS price_with_tax
FROM products
LIMIT 5

## 2. WHERE: Filtering Rows

The WHERE clause filters rows based on conditions.

### Comparison Operators
- `=` Equal to
- `!=` or `<>` Not equal to
- `<` Less than
- `>` Greater than
- `<=` Less than or equal to
- `>=` Greater than or equal to

In [ ]:
# Equal to
%%sql
SELECT product_name, price
FROM products
WHERE category_id = 1

In [ ]:
# Greater than
%%sql
SELECT product_name, price
FROM products
WHERE price > 100
LIMIT 10

In [ ]:
# Less than or equal to
%%sql
SELECT product_name, price, stock_quantity
FROM products
WHERE stock_quantity <= 50

In [ ]:
# Not equal
%%sql
SELECT first_name, last_name, country
FROM customers
WHERE country != 'USA'
LIMIT 10

## 3. Logical Operators: AND, OR, NOT

Combine multiple conditions using logical operators.

In [ ]:
# AND - both conditions must be true
%%sql
SELECT product_name, price, stock_quantity
FROM products
WHERE price > 50 AND stock_quantity > 100

In [ ]:
# OR - at least one condition must be true
%%sql
SELECT product_name, price
FROM products
WHERE price < 30 OR price > 100
LIMIT 10

In [ ]:
# Combining AND and OR (use parentheses!)
%%sql
SELECT product_name, price, category_id
FROM products
WHERE (category_id = 1 OR category_id = 3) AND price < 100

In [ ]:
# NOT - negates a condition
%%sql
SELECT first_name, last_name, city
FROM customers
WHERE NOT city = 'New York'
LIMIT 10

## 4. Working with NULL Values

NULL represents missing or unknown data. Use `IS NULL` and `IS NOT NULL` to check for NULL values.

In [ ]:
# Find orders with NULL total_amount (shouldn't be any in our data)
%%sql
SELECT order_id, customer_id, total_amount
FROM orders
WHERE total_amount IS NULL

In [ ]:
# Find orders with non-NULL total_amount
%%sql
SELECT order_id, customer_id, total_amount
FROM orders
WHERE total_amount IS NOT NULL
LIMIT 5

## 5. Pattern Matching with LIKE

LIKE is used for pattern matching with wildcards:
- `%` matches any sequence of characters (including zero characters)
- `_` matches exactly one character

In [ ]:
# Products starting with 'L'
%%sql
SELECT product_name, price
FROM products
WHERE product_name LIKE 'L%'

In [ ]:
# Products containing 'book'
%%sql
SELECT product_name, price
FROM products
WHERE product_name LIKE '%book%'

In [ ]:
# Products ending with 'er'
%%sql
SELECT product_name, price
FROM products
WHERE product_name LIKE '%er'

In [ ]:
# Email addresses from gmail (customers)
%%sql
SELECT first_name, last_name, email
FROM customers
WHERE email LIKE '%gmail.com'
LIMIT 10

## 6. IN Operator

The IN operator allows you to specify multiple values in a WHERE clause.

In [ ]:
# Products in specific categories
%%sql
SELECT product_name, price, category_id
FROM products
WHERE category_id IN (1, 3, 5)

In [ ]:
# Customers from specific countries
%%sql
SELECT first_name, last_name, country
FROM customers
WHERE country IN ('USA', 'Canada', 'UK')
LIMIT 15

In [ ]:
# NOT IN
%%sql
SELECT product_name, category_id
FROM products
WHERE category_id NOT IN (1, 2)

## 7. Exercises

Practice what you've learned with these exercises.

### Exercise 1: Find All Electronics
Select all products in the Electronics category (category_id = 1) with price less than $200.

In [ ]:
# Your code here
%%sql

### Exercise 2: Customer Search
Find all customers whose last name starts with 'S' and are from the USA.

In [ ]:
# Your code here
%%sql

### Exercise 3: Order Status
Find all pending or shipped orders with total_amount greater than $100.

In [ ]:
# Your code here
%%sql

### Exercise 4: Product Stock Alert
Find products with stock_quantity between 30 and 100 (inclusive).

In [ ]:
# Your code here
%%sql

## Summary

In this module, you learned:
- ✓ How to select specific columns with SELECT
- ✓ How to use column aliases for readability
- ✓ How to filter rows with WHERE clause
- ✓ Comparison operators (=, !=, <, >, <=, >=)
- ✓ Logical operators (AND, OR, NOT)
- ✓ Working with NULL values (IS NULL, IS NOT NULL)
- ✓ Pattern matching with LIKE and wildcards
- ✓ Using IN operator for multiple values

**Next:** Module 02 - Filtering & Sorting

In [ ]:
# Cleanup
conn.close()